/*
color scheme

#3B3747
#5A5157
#897670
#9E908A
#E1D2CC
#312C35
#808193
#99857B

*/


/* use a box model that makes sense */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* set the default color, font-size, and line height */
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
}


body{
    background-color: #E1D2CC;
    font-family: 'Playfair Display', cursive;
    color:#5D4157;
    font-size: 15px;
}
h1 {
  font-size: 50px; /* 48px */
    font-family: 'Rock Salt', cursive;
    text-align: center;
    color:#5A5157;
}
header{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    padding: 10px;
}
h2{
    margin: 10px;
    text-align: center;
    font-size: 20px
}
h3 {
  font-size: 20px /* 28px */
}

h4 {
  font-size: 1.125em /*18px */
}
img{ 
    padding: 5px;
}
.about-image{
    text-align: center;
}
.home-image{
    text-align: center;
}
a{
    color: #808193;
}
a:hover{
    color:#5D4157;
}
a:visited{
    color: #3B3747;
}
.barsclubs{
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    padding: 10px;
}
.important{
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    padding: 10px;
}
.other{
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    padding: 10px;
}
.site-footer{
    text-align: center;
    padding: 5px
}
.site-footer ul{
    list-style: none;
    font-size:16px;
}